
@import "includes/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

/** Header **/
.bo-navbar {
    background-color: $header-bg-color;
    color: $yiq-text-light;

    .nav-link {
        color: $header-color;

        &:hover {
            color: darken($header-color, 20%);
        }
    }

    .navbar-brand svg {
        fill: $header-color;
    }

    .dropdown-menu {
        margin-top: 1rem;
    }
}

/** Login **/
.bo-login-container {
    display: flex;
    min-height: 100vh;

    .card {
        border-radius: 1rem;
        width: 450px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.5rem 2rem 4.5rem;
    }

    .card-text {
        font-size: .875rem;
        color: $text-muted;
    }

    svg.bo-login {
        fill: $gray-800;
        margin-bottom: 2rem;
    }

    form {
        min-width: 100%;

        input {
            padding: 1.25rem .875rem;
        }

        button {
            margin-top: .875rem;
            padding: 0.5rem 1.275rem;
        }
    }


}
@media (max-width: map-get($grid-breakpoints, "sm")) {
    .bo-login-container {
        display: block;
        min-height: 100vh;
        .card {
            border: none !important;
            width: 100% !important;
        }
    }
}

/** Material Icons **/

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons { vertical-align: -6px; margin-right: .25rem; }
